{% extends "base.html.jinja" %}
{% block content %}
  <p>{{ strings.greeting }}</p>
  <p>
    {{ strings.published_intro }} <strong>{{ submission_code }}</strong>
    {% if card_name %}({{ card_name }}){% endif %} {{ strings.published_ready }}.
  </p>
  <p>{{ strings.published_body }}</p>
{% endblock %}
